<h3 style="color: brown"">Report</h3>
<div style="font-weight: bold">
    Total Fines submitted: @ViewBag.TotalFines
</div>
<div style="font-weight: bold">
    Total Push Ups: @ViewBag.TotalPushUps
</div>
